In [2]:
import numpy as np
import pandas as pd

In [5]:
pwd

'C:\\Users\\admin\\Downloads\\TF_2_Notebooks_and_Data'

In [8]:
df = pd.read_csv("C:\\Users\\admin\\Downloads\\TF_2_Notebooks_and_Data\\01-Pandas-Crash-Course\\example.csv")

In [10]:
ls

 Volume in drive C is Windows
 Volume Serial Number is C268-0736

 Directory of C:\Users\admin\Downloads\TF_2_Notebooks_and_Data

08-06-2020  11:19    <DIR>          .
08-06-2020  11:19    <DIR>          ..
08-06-2020  11:13    <DIR>          .ipynb_checkpoints
02-06-2020  19:52    <DIR>          00-NumPy-Crash-Course
08-06-2020  10:56    <DIR>          01-Pandas-Crash-Course
19-12-2019  22:01    <DIR>          02-Visualization-Crash-Course
05-06-2020  19:21    <DIR>          03-ANNs
19-12-2019  22:01    <DIR>          04-CNNs
19-12-2019  22:01    <DIR>          05-RNNs
19-12-2019  22:01    <DIR>          06-NLP-and-Text-Data
19-12-2019  22:01    <DIR>          07-AutoEncoders
05-06-2020  11:29    <DIR>          08-GANs
19-12-2019  22:01    <DIR>          09-Deployment
19-12-2019  22:01    <DIR>          DATA
08-06-2020  11:19             1,320 Data inputs and outputs .ipynb
08-06-2020  11:13            65,568 Pandas_work.ipynb
22-11-2019  07:57           138,033 Pierian_Data_Logo.png
22-11-2019  07:57                52 README.md
05-06-2020  07:45             4,436 Untitled.ipynb
05-06-2020  07:45                72 Untitled1.ipynb
               6 File(s)        209,481 bytes
              14 Dir(s)  30,499,192,832 bytes free

In [11]:
df.to_csv('output.csv',index=True)

In [12]:
pd.read_csv('output.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15